<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/HostalbdEdm.csdl|res://*/HostalbdEdm.ssdl|res://*/HostalbdEdm.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=MyDB;PASSWORD=hostal_bd;USER ID=HOSTAL_BD&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>